.jumbotron {
	background-image: url('images/Bg_img_01.png');
	height: calc(100vh - 96px);
	margin-top: 96px;
	padding: 0;
	background-size: cover;
	@include respond(break-md) {
		margin-top: 0;
	}
	.container {
		align-items: center;
		justify-content: center;
	    height: 100%;
	    position: relative;
	    h1 {
	    	line-height: 69px;
	    	@include respond(break-md) {
	    		font-size: 30px;
	    		line-height: 40px;
	    	}
	    	@include respond(break-sm) {
	    		font-size: 25px;
	    		line-height: 40px;
	    	}
	    }
	}
	&__header-second-line {
		color: $copper;
	}
	&__subheader {
		text-transform: uppercase;
		color: $white;
		font-size: 24px;
		font-weight: 600;
	    margin-bottom: 45px;
	}
	.dots {
		position: absolute;
		bottom: 42px;
	}
	&__icon {
	    position: absolute;
	    bottom: -35px;
	    right: 50px;
	}
}